{% extends 'base.html' %}
{% block title %}{% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Proyecto{% endblock %}
{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.empleado.label_tag }}   {{ form.empleado }}<br>
    {{ form.nombre.label_tag }}     {{ form.nombre }}<br>
    {{ form.descripcion.label_tag }}{{ form.descripcion }}<br>
    {{ form.estado.label_tag }}     {{ form.estado }}<br>
    {{ form.imagen.label_tag }}     {{ form.imagen }}
    {% if form.instance.imagen %}<br><img src="{{ form.instance.imagen.url }}" width="80">{% endif %}<br>
    <button type="submit">Guardar</button>
    <a href="{% url 'proyecto_list' %}">Cancelar</a>
  </form>
{% endblock %}
